/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 3, 2018, 12:58:16 AM
    Author     : Hansana Pushpakumara
*/
.removeform{
    font-size: 20px;
    width:100%;
    padding-left: 20%;
    padding-right: 20%;
}
input[type="text"]{
    
}
option{
    
}

form{
    
}